.Rproj.user
.Rhistory
*.RData
.Ruserdata
.Rapp.history
notebooks/figure
notebooks/*png
notebooks/*html
notebooks/*_cache
notebooks/site_libs
*.sif
*.h5
*.h5Seurat
*.h5seurat
*.h5ad
*.mtx
*.rds
*.tar
*.gz

/.quarto/
/_site/